// Colors
$cream-bg: #f8e9dd;
$red: #ec755d;
$dark-brown: #382314;
$medium-brown: #92857a;
$card-white: #fffbf6;

// Typography
html {
    font-family: "DM Sans", sans-serif;
    font-size: ((15 * 100)/375) * 1vw;
    font-weight: 700;
}

.title {
    font-weight: 400;
    font-size: 1rem;
}

.balance {
    color: white;

    p {
        font-size: (24 / 15) * 1rem;
    }
}

h1 {
    font-size: (24 / 15) * 1rem;
    color: $dark-brown;
}

.day figcaption {
    font-size: (12 / 15) * 1rem;
    text-align: center;
    font-weight: 400;
    color: $medium-brown;
}

.footer-main {
    color: $dark-brown;

    .title {
        color: $medium-brown;
    }
}

.total p {
    font-size: 2rem;
}

// Layout
body {
    background-color: $cream-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: (667 / 15) * 1rem;
    min-height: 100vh;

    // I needed this to get the footer to work
    position: relative;
}

p {
    margin: 0;
}

.container {
    width: ((343 * 100)/375) * 1vw;
    height: ((534 * 100)/375) * 1vw;
}

header {
    background-color: $red;
    border-radius: (10/15) * 1rem;
    padding: (21/15) * 1rem;
    margin-bottom: (16/15) * 1rem;

    display: flex;
    justify-content: space-between;

    img {
        width: (60 / 301) * 100%;
    }
}

.title {
    margin-top: 0;
    margin-bottom: (4/15) * 1em;
}

main {
    height: (421 / 534) * 100%;
    background-color: $card-white;
    padding: (24 / 15) * 1em (20 / 15) * 1em;
    border-radius: (10 / 15) * 1em;

    h1 {
        margin-top: 0;
        margin-bottom: (52 / 15) * 1rem;
    }
}

.week {
    width: 100%;
    height: (201 / 373) * 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .day {
        width: (33 / 303) * 100%;
        margin: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        figcaption {
            margin-top: (11 / 15) * 1rem;
            margin-bottom: (24 / 15) * 1rem;
        }

        .bar {
            width: 100%;
            height: 0;
            transition: height 2.5s ease-out;
            background-color: $red;
            border-radius: (3 / 15) * 1rem;
        }
    }
}

hr {
    color: $cream-bg;
    height: (2 / 15) * 1rem;
    margin-top: 0;
    margin-bottom: (24 / 15) * 1rem;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    height: (63 / 15) * 1rem;
}

.total {
    display: flex;
    flex-direction: column;
}

.delta {
    display: flex;
    flex-direction: column-reverse;
    text-align: end;
    // justify-content: flex-end;
    .title {
        margin-bottom: 0;
    }
}

.footer-body {
    position: absolute;
    bottom: 5%;
    font-size: (11 / 15) * 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.footer-body a {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.footer-body a:hover {
    text-decoration: underline;
}
